
.cards {
            border:1px solid black;
            border-radius: 8px;
            background: #fff;
            padding: 15px;
            transition: 0.3s ;
            height: 100%;
        }


.cards:hover {
            box-shadow: 0 0px 10px rgba(0,0,0,0.40);
            cursor:pointer;
            transition: 0.3s ease-in-out ;

        }

.product-img {
            width: 100%;
            height: 200px;
            object-fit: contain;
            }   

.star-rating {
            color: #ffa41c;
            font-size: 1rem;
        }

.mrp {
            font-size: 1.3rem;
            font-weight: bold;
            color:black;
        }

.price {
            text-decoration: line-through;
            color: #494545;
            font-size: 0.9rem;
        }

.discount {
            font-size: 0.9rem;
        }